* { 
	 user-select:text !important; 
	-webkit-user-select: text !important;
	-ms-user-select: text !important;;
	-moz-user-select: text !important;
}
.ui-filterable { margin-top: 50px; }
.purple-font { color: #ab6ccc !important;}
.username-heading { color: #00f1fa; }
.avatar-small
{
	width: 25px;
	height: 25px;
	float: left;
	padding: 0 5px;
	
}
.scroll-button
{
    background-color: #00f1fa;
    opacity: 0.3;
}
.header-icon, .ui-icon-delete
{ 
	color:#333333 !important; 
	background-color:#333333 !important; 
	border: none !important; 
}
.column-title
{
    text-transform: uppercase;
    font-size: .7em;
    color: rgba(0, 0, 0, 0.5);
    font-weight: normal;
}
.header-image
{
	background-color:#d587ff !important;
	border-color: #00f1fa !important;
    background-repeat: no-repeat;
    vertical-align: bottom;
    height: 100px;
    background-position: center;

}

.ui-listview>li p {
    font-size: 14px;
}
@media (min-width: 1900px) {
	.header-image
	{
		background-image: url('../images/banner-big.png');
	}
}
@media (min-width: 800px) {
	.header-image
	{
		background-image: url('../images/banner.png');
	}
}
@media (max-width: 799px) {
	.header-image
	{
		height: 60px;
		background-image: url('../images/banner-mobile.png');
	}
}

#queue, #ticket { overflow: hidden !important;}

.bigtextarea { height: 90px !important; }

.purpleButton
{
	background-color: #d587ff !important; 
	color: #fff !important; 
	text-shadow: none !important;
}
.ui-title{
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 300px;
    white-space: nowrap;
}

.ui-li-aside { margin: -1em !important; }

/* These apply across all breakpoints because they are outside of a media query */
/* Make the labels light gray all caps across the board */
.ticket-list thead th,
.ticket-list tbody th .ui-table-cell-label,
.ticket-list tbody td .ui-table-cell-label {
    text-transform: uppercase;
    font-size: .7em;
    color: rgba(0, 0, 0, 0.5);
    font-weight: normal;
}
/* White bg, large blue text for rank and title */

.ticket-list tbody th {
    font-size: 1.2em;
    background-color: #fff;
    color: #77bbff;
    text-align: center;
}
/* Add a bit of extra left padding for the title */

.ticket-list tbody td.title {
    padding-left: .8em;
}
/* Add strokes */

.ticket-list thead th {
    border-bottom: 1px solid #d6d6d6;
}
.ticket-list tbody th,
.ticket-list tbody td {
    border-bottom: 1px solid #e6e6e6;
}
/* Custom stacked styles for mobile sizes */
/* Use a max-width media query so we don't have to undo these styles */

@media (max-width: 560px) {
    /* Negate the margin between sections */
    
    .ticket-list tbody th {
        margin-top: 0;
        text-align: left;
    }
    /* White bg, large blue text for rank and title */
    
    .ticket-list tbody th,
    .ticket-list tbody td.title {
        display: block;
        font-size: 1.2em;
        line-height: 110%;
        padding: .5em .5em;
        background-color: #fff;
        color: #77bbff;
        -moz-box-shadow: 0 1px 6px rgba(0, 0, 0, .1);
        -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, .1);
        box-shadow: 0 1px 6px rgba(0, 0, 0, .1);
    }
    /* Hide labels for rank and title */
    
    .ticket-list tbody th .ui-table-cell-label,
    .ticket-list tbody td.title .ui-table-cell-label {
        display: none;
    }
    /* Position the title next to the rank, pad to the left */
    
    .ticket-list tbody td.title {
        padding-left: 2.2em;
        border-bottom: 1px solid rgba(0, 0, 0, .15);
    }

    /* Make the label elements a percentage width */
    
    .ticket-list td .ui-table-cell-label,
    .ticket-list th .ui-table-cell-label {
        min-width: 20%;
    }
}
/* Media query to show as a standard table at wider widths */

@media ( min-width: 560px) {
    /* Show the table header rows */
    
    .ticket-list td,
    .ticket-list th,
    .ticket-list tbody th,
    .ticket-list tbody td,
    .ticket-list thead td,
    .ticket-list thead th {
        display: table-cell;
        margin: 0;
    }
    /* Hide the labels in each cell */
    
    .ticket-list td .ui-table-cell-label,
    .ticket-list th .ui-table-cell-label {
        display: none;
    }
}
/* Hack to make IE9 and WP7.5 treat cells like block level elements */
/* Applied in a max-width media query up to the table layout breakpoint so we don't need to negate this */

@media ( max-width: 560px) {
    .ticket-list td,
    .ticket-list th {
        width: 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        float: left;
        clear: left;
    }
    .hide-on-mobile { display: none; }
}
@media (min-width: 560px) and (max-width: 560px) {
  thead { display: none !important; } 
}